.Footer {
  padding: 30px 0;
}

.Text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #495057;
}

@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    text-align: center;
  }
}
